@import "settings";

.wp-block-betterembed-embed {

	$be_root: &;

	&__top {
		// For absolutely positioned dialog.
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
	}

	&__provider {
		word-break: break-word;
		hyphens: auto;
		flex-grow: 1;
	}

	// Nesting to trump theme styling
	& &__switch {
		cursor: pointer;
		padding: ($betterembed-icon-size/2);
		padding-right: 1.5 * $betterembed-icon-size;
		background-color: transparent;
		background-image: url(../img/betterembed-logo.svg);
		background-position: right center;
		background-repeat: no-repeat;
		background-size: $betterembed-icon-size $betterembed-icon-size;
		border: 0;

		color: inherit;
		font-weight: 400;
		text-transform: none;

		&:nth-child(2):last-child {
			margin-left: 0.5em;
		}

		&--hidden {
			display: none;
		}

	}

	&__switch-hide {
		display: none;
	}

	&__switch-show {
		display: block;
	}

	&__dialog {
		display: none;

		/*
		position: absolute;
		top: calc(100% + #{$betterembed-content-margin});
		right: $betterembed-content-margin;
		left: $betterembed-content-margin;
		 */

		padding: $betterembed-content-margin;
		background-color: rgba($betterembed-dialog-background, $betterembed-dialog-opacity);
		color: $betterembed-dialog-color;
	}

	.is-betterembed-dialog-visible &__dialog {
		display: block;
	}

	&.is-betterembed-remote-visible {

		#{$be_root}__switch-hide,
		#{$be_root}__embed {
			display: block;
		}

		#{$be_root}__switch-show,
		#{$be_root}__body {
			display: none;
		}

	}

	&__embed {
		display: none;
		max-width: 100%;

		iframe {
			max-width: 100%;
		}

		// Hacks to make FB Embeds responsive
		// See https://github.com/WordPress/gutenberg/issues/16948
		.fb-post {

			&,
			> span {
				max-width: 100%;
			}

		}

		.instagram-media {
			min-width: auto !important;
		}

	}

	&__body {

		display: flex;
		flex-direction: column;

		> :last-child {
			margin-bottom: $betterembed-content-margin;
		}

	}

	// Nesting to trump theme styling
	& &__title,
	&__text,
	&__footer {
		margin: $betterembed-content-margin 0 0;
		padding: 0 $betterembed-content-margin;
	}

	&__media {
		margin: $betterembed-content-margin 0 0;

		&:first-child {
			margin-top: 0;
		}

	}

	img {
		display: block;
		width: 100%;
		height: auto;
	}

	&__read-more {
		font-size: 0.8em;
		white-space: nowrap;
	}

	&__author {
		font-size: 0.8em;
	}

	&__date {
		font-size: 0.8em;
	}

}
