@import "settings";

.wp-block-betterembed-embed {

	a {
		color: inherit;
	}

	&__body {
		background-color: $betterembed-background;
	}

	&__provider {
		text-transform: uppercase;
	}

	@each $provider, $color in $betterembed-providers {

		&.is-provider-#{$provider} &__provider {
			color: #{$color};
		}

		&.is-provider-#{$provider} &__body {
			background-color: #{$color};
			//TODO: Ensure contrast
			color: #fff;
		}

	}

}
